 .page {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	border-style: none;
	color: #135269;
}

.page:hover {
	color: #09222b;
}

body {

	font-family: 'Raleway', sans-serif;
	text-align: left;

}



 .text {

	font-family: 'Raleway', sans-serif;
	height: 500px;
	width: 800px;
	font-size: 25px;
	color: #135269;
	margin-left: auto;
	margin-right: auto;

}