 .page {
	font-family: 'Raleway, Garamond';
	font-size: 20px;
}

body {

	font-family: 'Raleway'
	font-size: 20px;
	color: lavender;
	font-style: "sans-serif";

}

.class {
	font-family: 'Raleway'
	font-size: 20px;
}

#text {
	font-family: 'Raleway', 
	height: 500px;
	width: 500px;
	color: coral;
	text-align: center;
	font-style: "sans-serif";
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;


}