p {
	font-family: arial;
	font-size: 20px;
	color: #ffffff;
}

.raptors {
	color: #CE1141;
}

h1 {

	font-family: arial;
	font-size: 30px;
	color: #ffffff;
}

body {
	background-image: url(https://wallpaperset.com/w/full/4/4/0/27841.jpg);
}