a .page{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #ffffff;
}

h1 {

	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color: black;

}

.subtitle {
	font-size: 30;
	font-family: 'Raleway', sans-serif;
	color: grey;
}

h2 {

	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: lavender;
}

body {
	background-color: lightblue;
}

.class {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #ffffff;
}