h1 {

	font-family: Perpetua;
	font-size: 50px;
	color: black;

}

.subtitle {
	font-size: 30;
	font-family: Perpetua;
	color: grey;
}

h2 {

	font-family: Perpetua;
	font-size: 25px;
	color: lavender;
}

body {
	background-color: lightblue;
}