a .page{
	font-family: 'Arial';
	font-size: 20px;
	color: #ffffff;
}

h1 {

	font-family: 'Garamond';
	font-size: 50px;
	color: black;

}

.subtitle {
	font-size: 30;
	font-family: 'Garamond';
	color: grey;
}

h2 {

	font-family: 'Garamond';
	font-size: 25px;
	color: lavender;
}

body {

	font-family: 'Garamond';
	font-size: 20px;
	color: blue;

}

.class {
	font-family: 'Garamond';
	font-size: 20px;
	color: #ffffff;
}