.page {
	font-family: 'Raleway, Garamond';
	font-size: 20px;
}

 p {

	font-family: 'Garamond';
	font-size: 20px;
	color: blue;
	height: 600px;
	width: 600px;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

}

h1 {

	font-family: 'Garamond';
	font-size: 30px;
	color: black;
	font-weight: 500;
}

h2 {

	font-family: 'Garamond';
	font-size: 25px;
	color: black;
	font-weight: 600;

}